* {
    margin: 0;
    padding: 0;
}

.doreamonBox {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
}

.doreamonBoxMiddle {
    width: 400px;
    margin: auto;
}

.doreamonHead {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: blue;
    position: relative;
    left: 8%;
}

.doreamonEyes {
    display: flex;
    gap: 10%;
    position: relative;
    top: 45px;
    left: 50px;
}

.doreamonEyesWhiteArea {
    width: 40px;
    border-radius: 45%;
    height: 45px;
    background-color: white;

}

.doreamonEyesBlackArea {
    width: 24px;
    border-radius: 50%;
    height: 25px;
    background-color: black;
    position: relative;
    top: 20px;
    left: 10px;
}

.doreamonEyesWhiteSmallArea {
    width: 9px;
    border-radius: 50%;
    height: 10px;
    background-color: white;
    position: relative;
    top: 6px;
    left: 8px;
}

.doreamonNose {
    width: 25px;
    height: 26px;
    border-radius: 33%;
    position: relative;
    background-color: red;
    top: 30%;
    left: 44%;
}

.doreamonMouth {
    width: 55px;
    background-color: white;
    height: 25px;
    position: relative;
    top: 35%;
    left: 37%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

}

.doreamonTongue {
    width: 25px;
    height: 30px;
    background-color: red;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    position: absolute;
    left: 26%;

}

.doreamonBody {
    width: 260px;
    height: 200px;
    background-color: blue;
    border-radius: 25% 25% 25% 25%;
    position: relative;
}

.doreamonTie {
    width: 70px;
    height: 29px;
    background: red;
    position: relative;
    border-radius: 25%;
    top: -14px;
    left: 37%;
}

.doreamonTieInner {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 34%;
    top: 3px;
    border-radius: 50%;
    background-color: gold;
}
.doreamonHands{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.doreamonLeftHand{
    background-color: blue;
    width: 100px;
    height: 20px;
    position: relative;
    left: -30%;
}
.doreamonRightHand{
     background-color: blue;
    width: 100px;
    height: 20px;
    position: relative;
    right: -30%;
}
.doreamonRightHandInnerSpace{
    background-color: white;
    width: 10px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: -6%;
}
.doreamonLeftHandInnerSpace{
    background-color: white;
    width: 10px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: -7px;
}
.doreamonPocket{
    position: relative;
    width: 100px;height: 70px;
    border-radius: 0 0 25% 25%;
    left: 30%;top: 30px;
    background-color: white
}
.doreamonFoots{
    display: flex;
    justify-content: space-between;
}
.doreamonLeftFoot{
    width: 30px;
    height: 100px;
    background-color: blue;
    position: relative;
    top: -50px;
}
.doreamonRightFoot{
    width: 30px;
    height: 100px;
    background-color: blue;
    position: relative;
    right: 35%;
    top: -50px;
}
.doreamonLeftFootInnerSpace{
width: 60px;
height: 40px;
background-color: rgb(252, 250, 251);
position: absolute;
top: 70%;
left: -15px;
border-radius: 35%;
}
.doreamonRightFootInnerSpace{
width: 60px;
height: 40px;
background-color: rgb(248, 250, 249);
position: absolute;
top: 70%;
left: -15px;
border-radius: 35%;
}
