* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.doreamon {
    padding: 16px;
    text-align: center;
}
.imageEffectContainer{
    width: 1300px;
    margin: auto;
    display: flex;
     gap: 1%;
    flex-wrap: wrap;
}
.imagEffectBox{
    flex-basis: 30%;
    position: relative;
    padding: 15px;
    overflow: hidden;
    margin: 1%;
    box-sizing: border-box;
    border-radius: 5%;
    box-shadow: 0px 0px 4px 2px gray;
}
.imageArea img{
    width: 100%;
    height: 300px;
    transform: scale(1);
    transition: 3s;
    transform-origin:bottom ;
     border-radius: 5%;
}
.textarea{
    position: absolute;
     border-radius: 5%;
     left: 0;
    height: 100%;
    transform: scale(0);
    transform-origin: top;
    transition: 3s;
    top: 0;
    padding-top: 30%;
    color: white;
    background: rgba(0, 0,0, 0.5);
    text-align: center;
}
.textarea h3{
    padding-bottom: 15px;
}
.imagEffectBox:hover .textarea{
    transform: scale(1.4);
    transition: 3s;
}
.imagEffectBox:hover .imageArea img{
    transform: scale(1.4);
    transition: 3s;
}