* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.doreamon {
    padding: 16px;
    text-align: center;
}


.imagePositionPropertyEffects {
    width: 100%;
    /* padding: 20px; */
    border: 3px blue solid;
}

.middleSection {
    width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;

}
h2{
    text-transform: uppercase;
     text-align: center;
     letter-spacing: 2px;
     padding: 30px 0;
}
.mainImageBox {
    width: 200px;
    position: relative;
    flex-basis: 19%;
    height: 236px;
    border: 1px solid rgb(136, 133, 125);
    margin-bottom: 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.mainImageBox img,
.mainImageBox h5 {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: bold
}
h5{
     padding: 10px;
}
.mainImageBox img{
    transform: scale(1);
    transition: 9s;
}
.imagePart{
    width: 100%;
    height: 100%;
}
.textPart {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    width: 100%;
    top: 0;
    height: 100%;
    transform: scale(0);
    transition: 3s;
    padding-top: 40%;
}
.mainImageBox:hover .textPart {
    transform: scale(1);
    transition: 3s;
}
.mainImageBox:hover img{
    transform: scale(1.7);
    transition: 9s;
}